body{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(214, 224, 232);
    background-image:url(Background/Background5.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:100vh;
    overflow: hidden;
}

.top-nav-blur{
    margin-top: 10px; /* Outside Spacing */
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    padding-left: 1%;
    display: flex;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.blur-box{
    background: rgba(32, 29, 29, 0.059);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 7px 15px;
    justify-content:space-between;
    align-items:center;
    height: auto;
    width:fit-content;

}
.blur-box p{
    line-height: 1.7;
}

a {
    text-decoration: none; /* removes  underline */
    color: inherit;       /* Normal color */
}

.Main-block{
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    display: flex;
    background: rgba(255,255,255,0);
    flex-direction: column;   /* stack elements vertically */
    justify-content: center;
    align-items:center;
    /*backdrop-filter: blur(20px); */
    border-radius: 10px;
    margin-right: 25px;
    margin-left: 25px;
}
